# User Ingore
models/
data/
external/code3.2.1
external/piotr-toolbox-kaist
datasets/caltech/test
datasets/caltech/train
datasets/kaist_visible/test
datasets/kaist_visible/train
datasets/kaist_lwir/test
datasets/kaist_lwir/train
datasets/scut
output/
cachedir/
imdb/cache
*.caffemodel
*.mat
*.jpg
*.mexa64
bin/

# =========================
# Operating System Files
# =========================
# Windows
# =========================
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk


# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

*.gz
