[submodule "external/caffe"]
	path = external/caffe
	url = https://github.com/xzhewei/X-caffe.git
[submodule "external/code3.2.1"]
	path = external/code3.2.1
	url = https://github.com/xzhewei/labeltool.git